body{
	margin: 0;
	padding: 0;
	height: auto;
    background: white;
}
.container{
	margin: inherit;
    width: inherit;
}
.first-text{
	background: transparent;
	font-weight: bold;
    text-align: center;
    font-size-adjust: auto;
    font-size: 60px;
    color: white;
    text-emphasis:bold;
}
.section1{
    background: url(assets/h_img.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    
}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
}
.section2{
    background: whitesmoke;
    height: 300px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}
.section3{
    height: 300px;
    background: url(assets/s_image.jpg) no-repeat;
}
.third-text{
    text-align: center;
    background: transparent;
    color: white;
}
.fourth-text{
    text-align: center;
    color: black;
    
}
.section4{
    background: whitesmoke;
    height:auto;
    text-align: center ;
}
.fifth-text{
    text-align: center;
    color: black;

}
.section5{
    background: whitesmoke;
    height:auto;
}
.section6{
    text-align: center;
    background-image:url(assets/images/mechanical.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 
.social{
    margin-left: 35%;
}

.design-hidden {
    display: none;
  }
  .development-hidden {
    display: none;
  }
  .product-hidden {
    display: none;
  }
  .clickable1 {
    cursor: pointer;
    
  }
  .clickable2 {
    cursor: pointer;
    
  }
  .clickable3 {
    cursor: pointer;
    
  }

  .col-md-3{
      padding: 20px;
       
  }
  .col-md-3 img{
    width:250px
  }




